<window [aside]="true">
  <window-header title="PROJETO DE FRONTEND X" color="deep-green" />
  <window-body style="padding: 0;">
    <picture>
      <img src="/assets/mock.png" alt="" srcset="">
    </picture>
  </window-body>
  <window-aside>
    <article>
      <p>
        Fala resumidamente sobre o que sou e sobre meu trabalho com no maximo 4
        linhas. Lorem Ipsum dolor sit amet. Nunc congue, metus in imperdiet
        molestie, ligula est iaculis nulla, non accumsan erat turpis nec elit.
      </p>
      <div class="container-icons">
        <img src="/assets/icons/angular.png" alt="">
        <img src="/assets/icons/java.png" alt="">
        <img src="/assets/icons/sass.png" alt="">
      </div>
    </article>
    <div class="container-buttons">
      <a class="btn">
        ACESSAR
      </a>
      <a class="btn">
        GITHUB
      </a>
    </div>
  </window-aside>
</window>
