window-body {
  max-width: 100%;
}

picture {
  border: .15rem solid white;
  height: 8rem;
  max-width: 10rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 480px) {
    max-width: 100%;
    width: 100%;
    height: auto;

    img {
      height: auto;
      max-width: 100%;
    }
  }
}

img {
  height: 100%;
  width: auto;
}

window-body .content {
  padding: 0 !important;
}

window-aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .5rem;
}

article {
  p {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    @media screen and (max-width: 480px) {
      -webkit-line-clamp: 5;
    }
  }
}

.container-icons {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
  img {
    height: 24px;
  }
}

.container-buttons {
  display: flex;
  gap: .5rem;

  .btn {
    padding: .3rem 1rem;
    font-size: 1.2rem;
  }
}
