<window [aside]="true">
  <window-header [title]="project.title" color="deep-green" />
  <window-body style="padding: 0rem; height: 8rem; max-width: 10rem;">
    <picture>
      <img [src]="project.image.url" [alt]="project.title" srcset="">
    </picture>
  </window-body>
  <window-aside>
    <article>
      <p>
        {{project.text}}
      </p>
      <div class="container-icons">
        <img *ngFor="let tech of project.techs" src="/assets/icons/{{tech.tech}}.png" alt="{{tech.tech}}">
      </div>
    </article>
    <div class="container-buttons">
      <a class="btn" *ngIf="project.src" [href]="project.src"  target="_blank">
        ACESSAR
      </a>
      <a class="btn" *ngIf="project.github" [href]="project.github" target="_blank">
        GITHUB
      </a>
    </div>
  </window-aside>
</window>
