.container {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.pagination{
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3rem;
}

window-project {
  flex-grow: 1;
}
