<section class="container" id="habilidades">
  <div class="title-section">
    <h2>Meus Projetos</h2>
    <img src="/assets/gifs/computer.gif" alt="" srcset="">
  </div>
  <div class="container-windows">
    <window>
      <window-header title="Projetos" color="green"/>
      <window-body color="gray">

      </window-body>
      <window-footer>
        <div class="pagination">
          <button class="btn">
            <
          </button>
          <span>
            1 ... 20
          </span>
          <button class="btn">
            >
          </button>
        </div>
      </window-footer>
    </window>
  </div>

</section>
