<main>
  <section class="container">
    <div class="content">
      <div>
        <div class="title-welcome">
          <h2>
            SEJA BEM-VINDO
          </h2>
          <div>
            <img src="/assets/gifs/smile.gif" width="53" height="42">
          </div>
        </div>
        <h1>
          Sou Desenvolvedor Fullstack
        </h1>
        <p>
          e um amante da tecnologia, de aprender e de novos desafios
        </p>
      </div>
      <div class="click-me">
        <button class="btn" (click)="onClick()">
          Iniciar
        </button>
        <img src="/assets/gifs/click-me.gif" width="76" height="103">
      </div>
    </div>
    <div class="content-gif-waterfall">
      <img src="/assets/gifs/waterfall.gif" width="279" height="480">
    </div>
  </section>
</main>
