div{
  background-color: var(--green-400);
  padding: .35rem .75rem;
  border-bottom: 1px solid var(--gray-800);
  border-right: 1px solid var(--gray-800);
}

time{
  font-weight: 700;
  font-size: .8rem;
  font-family: 'Montserrat', sans-serif;
}
