<section class="container" id="habilidades">
  <div class="title-section">
    <h2>Minhas Habilidades</h2>
    <img src="/assets/gifs/coffee.gif" alt="" srcset="">
  </div>
  <div class="container-windows">
    <window>
      <window-header title="Minhas Habilidades - Avançadas" color="purple" icon="prompt"/>
      <window-body>
        <icon-clickable *ngFor="let hability of advanced"
          [text]="hability.text" icon="{{hability.tech}}.png" type="only-view"
        />
      </window-body>
    </window>
    <window>
      <window-header title="Minhas Habilidades - Intermediárias" color="orange" icon="prompt"/>
      <window-body>
        <icon-clickable *ngFor="let hability of intermediary"
          [text]="hability.text" icon="{{hability.tech}}.png" type="only-view"
        />
      </window-body>
    </window>
    <window>
      <window-header title="Minhas Habilidades - Básicas" color="pink" icon="prompt"/>
      <window-body>
        <icon-clickable *ngFor="let hability of basic"
          [text]="hability.text" icon="{{hability.tech}}.png" type="only-view"
        />
      </window-body>
    </window>
  </div>

</section>
