.container {
  padding: 2.5rem 0;
}

.title-section{
  margin-bottom: 0;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

.container-windows {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
