<section class="container" id="habilidades">
  <div class="title-section">
    <h2>Minhas Habilidades</h2>
    <img src="/assets/gifs/coffee.gif" alt="" srcset="">
  </div>
  <p>
    Fala resumidamente sobre o que sou e sobre meu trabalho com no maximo 4 linhas.
    Lorem Ipsum dolor sit amet. Nunc congue, metus in imperdiet molestie, ligula est iaculis
    nulla, non accumsan erat turpis nec elit.
  </p>
  <window>
    <window-header title="Minhas Habilidades - Avançadas" color="purple" icon="prompt"/>
    <window-body>
    </window-body>
  </window>
</section>
