<section class="container">
  <article>
    <div>
      <h1>
        Yan Gabriel Ferreira
      </h1>
      <h3>
        Desenvolvedor Fullstack
      </h3>
      <p>
        Fala resumidamente sobre o que sou e sobre meu trabalho com no maximo 4 linhas.
        Lorem Ipsum dolor sit amet. Nunc congue, metus in imperdiet molestie, ligula est iaculis nulla,
        non accumsan erat turpis nec elit.
        <br>
        <br>
        Fala resumidamente sobre o que sou e sobre meu trabalho com no maximo 4 linhas.
        Lorem Ipsum dolor sit amet. Nunc congue, metus in imperdiet molestie, ligula est iaculis nulla,
        non accumsan erat turpis nec elit.
      </p>
    </div>
    <window>
      <window-header title="Minhas Redes" color="blue" icon="globe"/>
      <window-body>
        <a href="https://www.linkedin.com/in/yangabriel/" target="_blank">
          <icon-clickable text="Linkedin" icon="linkedin.png"/>
        </a>
        <a href="https://github.com/Yancap" target="_blank">
          <icon-clickable text="Github" icon="github.png"/>
        </a>
        <!-- TODO: add my curriculum -->
        <a href="" download="">
          <icon-clickable text="Download CV" icon="download-cv.gif"/>
        </a>
      </window-body>
    </window>
  </article>
  <div class="container-gif">
    <img src="/assets/gifs/cat.gif" alt="" srcset="">
  </div>
</section>
