<section class="container" id="experiencias">
  <div class="title-section">
    <h2>Minhas Experiencias</h2>
    <img src="/assets/gifs/monkey-dev.gif" alt="" srcset="">
  </div>
  <window>
    <window-header title="Minhas Redes" color="blue" icon="globe"/>
    <window-body color="dark">
      <div class="container-job">
        <picture>
          <img src="/assets/company/ibm.png" alt="" srcset="">
        </picture>
        <article>
          <h3>
            Application Developer • IBM
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse maximus, justo at sagittis imperdiet, justo ipsum maximus lectus,
            ut blandit leo augue ac tellus. Ut ultrices scelerisque pulvinar.
            Nunc laoreet turpis turpis, sit amet sagittis felis fermentum at.
            Duis in posuere erat. Aenean eros enim, iaculis ac consectetur quis,
            pulvinar ut augue. Maecenas nunc nisi, scelerisque vel velit in,
            accumsan congue justo. Pellentesque habitant morbi tristique senectus et netus et
            malesuada fames ac turpis egestas.
          </p>
          <div class="container-icons">
            <img src="/assets/icons-ascii/java-ascii.png" alt="">
            <img src="/assets/icons-ascii/angular-ascii.png" alt="">
            <img src="/assets/icons-ascii/typescript-ascii.png" alt="">
          </div>
        </article>
        <article>
          <h3>
            Technical Intern of Development • IBM
          </h3>
          <p>
            Realizei miniprojetos e exercícios referentes a Angular, Java, React Native e NestJS,
            bem como realizei cursos e trilhas de estudos na plataforma de ensino da IBM chamado
            YourLeaning.
          </p>
          <div class="container-icons">
            <img src="/assets/icons-ascii/java-ascii.png" alt="">
            <img src="/assets/icons-ascii/angular-ascii.png" alt="">
            <img src="/assets/icons-ascii/typescript-ascii.png" alt="">
            <img src="/assets/icons-ascii/react-native-ascii.png" alt="">
            <img src="/assets/icons-ascii/nodejs-ascii.png" alt="">
            <img src="/assets/icons-ascii/nestjs-ascii.png" alt="">
          </div>
        </article>
      </div>
    </window-body>
  </window>
</section>
