<section class="container" id="experiencias">
  <div class="title-section">
    <h2>Minhas Experiencias</h2>
    <img src="/assets/gifs/monkey-dev.gif" alt="" srcset="">
  </div>
  <window>
    <window-header title="Minhas experiencias" color="deep-green" icon="prompt"/>
    <window-body color="dark">

      <div class="container-job" *ngFor="let exp of experience">
        <div style="display: flex;">
          <pre *ngFor="let txt of getAsciiArtText(exp.company)">{{txt}}</pre>
        </div>
        <article *ngFor="let job of exp.jobs">
          <h3>
            {{job.employ}} • {{ exp.company }}
          </h3>
          <time>{{job.start_date | date: 'MMMM y'}} - {{ job.end_date ? (job.end_date | date: 'MMMM y') : "Atualmente"}}</time>
          <p>
            {{job.description}}
          </p>
          <div class="container-icons">
            <img *ngFor="let image of job.techs"  src="/assets/icons-ascii/{{image.image}}-ascii.png" alt="">
          </div>
        </article>
        <hr>
      </div>
    </window-body>
  </window>
</section>
