.container {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.container-job {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: .5rem;

}
window-body {
  max-height: 30rem;
  overflow: auto;
}

article {
  p, h3 {
    color: var(--green-600);
    margin-bottom: .35rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}

.container-icons {
  padding: .5rem 0;
  display: flex;
  gap: .75rem;
  align-items: flex-end;
  img {
    height: 2rem;
  }
}

hr {
  border-color: var(--green-600);
  border-style: dashed;
}

.company-logo {
  img {
    width: 20rem;
    height: auto;
  }
  @media screen and (max-width: 400px) {
    img {
      width: 16rem;
    }

  }
}
