.content {
  background: var(--purple-100);
  border: 1.5px solid var(--gray-800);
  padding: .5rem;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
}

.dark {
  background: var(--gray-700);
}

.gray {
  background: var(--gray-300);
}

.responsive {
  max-width: max-content;
  height: max-content;
  padding: 0;
  @media screen and (max-width: 480px) {
    max-width: 100%;
    width: 100%;
  }
}
